$header-bg: rgba(6, 36, 202, 1);

body{
    margin: 0;
}

/* header */
header{
    
    nav{
        background: $header-bg;
        border-radius: 0;
        border: none;
    }
    
    nav p{
        color: #fff;
    }
    
    nav a{
        color: #fff;
    }
    
    .navbar{
        min-height: 80px;
    }
    .navbar-brand{
        font-size: 2.5em;
    }
    
    .navbar-text{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
   .navbar-text a {
        color: rgba(183, 193, 254, 1)
    }
}